.App {
  text-align: center;
  background-color: #aa6539
}


body {
  background-color: #aa6539 !important;
}

#quote-box {
  background-color: #ffc8aa
}

#quote-box {
  border: 1px solid;
  position: relative;
  width: 600px;
  height: 275px;
  margin: auto;
  margin-top: 20px;
  color: #552100;
  text-align: center;
}

span {
  position: relative;
  right: 30%;
}

button {
  margin-bottom: 20px;
  position: relative;
  left: 30%;
}

#quote-box button {
  justify-content: right;
}

.btn-primary, .btn-primary:active, .btn-primary.active{
  background-color: #552100 !important;
  border: none !important;
}

.btn-primary:focus {
  background-color: #552100 !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important
}

.btn-primary:hover{
  background-color: #d4946a !important;
  color: black !important;
  border: none !important;
}

.fa-twitter {
  color: #803f15;
}
