# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\User Files\PHP Storm Projects\react-random-quote-machine\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
